<a href="https://colab.research.google.com/github/RojaCM/PROJECTS/blob/main/Assignment_machine_sensor_check.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Importing necessary libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
#importing datasets - healthy dataset
from google.colab import files
uploaded=files.upload()

Saving HealthyDataset.csv to HealthyDataset.csv

In [18]:
healthy_dataset=pd.read_csv('HealthyDataset.csv',header=None,)

In [19]:
healthy_dataset

            0      1      2       3
0     -19.000 -0.250 -0.188  1.0600
1      -9.940  8.530  7.550  4.7000
2      21.400 -4.740 -0.278  5.9500
3       8.520 -0.593  1.260  3.6400
4     -21.100 -0.558  8.980  0.0193
...       ...    ...    ...     ...
99835  -7.610 -0.149  1.200  0.7800
99836  -0.584  1.620 -1.850  4.4500
99837   1.190  2.870 -1.310  8.0100
99838  -0.940 -1.160  1.560  6.0000
99839  -1.650  6.120  1.910 -0.0293

[99840 rows x 4 columns]

In [20]:
#assigning column names 
healthy_dataset.columns=['Sensor1','Sensor2','Sensor3','Sensor4']

In [21]:
healthy_dataset

       Sensor1  Sensor2  Sensor3  Sensor4
0      -19.000   -0.250   -0.188   1.0600
1       -9.940    8.530    7.550   4.7000
2       21.400   -4.740   -0.278   5.9500
3        8.520   -0.593    1.260   3.6400
4      -21.100   -0.558    8.980   0.0193
...        ...      ...      ...      ...
99835   -7.610   -0.149    1.200   0.7800
99836   -0.584    1.620   -1.850   4.4500
99837    1.190    2.870   -1.310   8.0100
99838   -0.940   -1.160    1.560   6.0000
99839   -1.650    6.120    1.910  -0.0293

[99840 rows x 4 columns]

In [12]:
df=healthy_dataset.copy()

In [28]:
#creating a column wuth value 1 for healthy dataset and appending the column to the dataset.
a=np.ones(99840,dtype=int)
a
b=pd.DataFrame(a)
b

       0
0      1
1      1
2      1
3      1
4      1
...   ..
99835  1
99836  1
99837  1
99838  1
99839  1

[99840 rows x 1 columns]

In [29]:
# add a column named 'Target' for the healthy dataset with value '1' .
# VALUE 1 Indicates machine is healthy

healthy_dataset['Target']=b

NameError: ignored

In [30]:
healthy_dataset

       Sensor1  Sensor2  Sensor3  Sensor4  Target
0      -19.000   -0.250   -0.188   1.0600       1
1       -9.940    8.530    7.550   4.7000       1
2       21.400   -4.740   -0.278   5.9500       1
3        8.520   -0.593    1.260   3.6400       1
4      -21.100   -0.558    8.980   0.0193       1
...        ...      ...      ...      ...     ...
99835   -7.610   -0.149    1.200   0.7800       1
99836   -0.584    1.620   -1.850   4.4500       1
99837    1.190    2.870   -1.310   8.0100       1
99838   -0.940   -1.160    1.560   6.0000       1
99839   -1.650    6.120    1.910  -0.0293       1

[99840 rows x 5 columns]

In [31]:
#importing datasets - fault dataset
from google.colab import files
uploaded=files.upload()

Saving FaultyDataset.csv to FaultyDataset.csv

In [32]:
faulty_dataset=pd.read_csv('FaultyDataset.csv',header=None,)

In [33]:
faulty_dataset

          0       1      2       3
0     -3.93   6.550 -1.240  20.300
1      2.40   9.990 -3.240   8.310
2      6.24  -3.180 -0.687  -4.190
3     -3.99 -14.100  3.850  -5.660
4      1.77  -6.460  5.100  -9.000
...     ...     ...    ...     ...
94203 -1.46   2.780 -1.150  -4.540
94204 -3.88   0.854  6.420  -5.470
94205  1.73   4.070  5.360   0.216
94206  8.98  10.100  1.550   3.660
94207  6.16   5.580  2.410   2.040

[94208 rows x 4 columns]

In [34]:
#assigning column names 
faulty_dataset.columns=['Sensor1','Sensor2','Sensor3','Sensor4']

In [35]:
faulty_dataset

       Sensor1  Sensor2  Sensor3  Sensor4
0        -3.93    6.550   -1.240   20.300
1         2.40    9.990   -3.240    8.310
2         6.24   -3.180   -0.687   -4.190
3        -3.99  -14.100    3.850   -5.660
4         1.77   -6.460    5.100   -9.000
...        ...      ...      ...      ...
94203    -1.46    2.780   -1.150   -4.540
94204    -3.88    0.854    6.420   -5.470
94205     1.73    4.070    5.360    0.216
94206     8.98   10.100    1.550    3.660
94207     6.16    5.580    2.410    2.040

[94208 rows x 4 columns]

In [45]:
c=np.zeros(94208,dtype=int)
c.shape
d=pd.DataFrame(c)
d.shape

(94208, 1)

In [46]:
# add a column named 'Target' for the Faulty dataset with value '0' .
# VALUE 0 Indicates machine is Faulty one
faulty_dataset['Target']=c
faulty_dataset.shape

(94208, 5)

In [47]:
faulty_dataset

       Sensor1  Sensor2  Sensor3  Sensor4  Target
0        -3.93    6.550   -1.240   20.300       0
1         2.40    9.990   -3.240    8.310       0
2         6.24   -3.180   -0.687   -4.190       0
3        -3.99  -14.100    3.850   -5.660       0
4         1.77   -6.460    5.100   -9.000       0
...        ...      ...      ...      ...     ...
94203    -1.46    2.780   -1.150   -4.540       0
94204    -3.88    0.854    6.420   -5.470       0
94205     1.73    4.070    5.360    0.216       0
94206     8.98   10.100    1.550    3.660       0
94207     6.16    5.580    2.410    2.040       0

[94208 rows x 5 columns]

#Merging the both healthy dataset and faulty dataset

In [48]:
dataset=pd.concat((healthy_dataset, faulty_dataset)).sort_index(axis = 0)

In [49]:
dataset.shape

(194048, 5)

In [52]:
#analyzing the first top 5 rows
dataset.head()

   Sensor1  Sensor2  Sensor3  Sensor4  Target
0   -19.00    -0.25   -0.188     1.06       1
0    -3.93     6.55   -1.240    20.30       0
1     2.40     9.99   -3.240     8.31       0
1    -9.94     8.53    7.550     4.70       1
2    21.40    -4.74   -0.278     5.95       1

In [53]:
#analyzing the first top 5 rows
dataset.tail()

       Sensor1  Sensor2  Sensor3  Sensor4  Target
99835   -7.610   -0.149     1.20   0.7800       1
99836   -0.584    1.620    -1.85   4.4500       1
99837    1.190    2.870    -1.31   8.0100       1
99838   -0.940   -1.160     1.56   6.0000       1
99839   -1.650    6.120     1.91  -0.0293       1

In [54]:
#looking on the count of healthy and faulty values in a Target column
dataset['Target'].value_counts()

1    99840
0    94208
Name: Target, dtype: int64

In [14]:
#checking the shape of a dataset
healthy_dataset.shape

(99840, 4)

In [15]:
#checking details /information of all the columns 
healthy_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99840 entries, 0 to 99839
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Sensor1  99840 non-null  float64
 1   Sensor2  99840 non-null  float64
 2   Sensor3  99840 non-null  float64
 3   Sensor4  99840 non-null  float64
dtypes: float64(4)
memory usage: 3.0 MB

In [16]:
#cheking the statistical distribution of the columns
healthy_dataset.describe()

            Sensor1       Sensor2       Sensor3       Sensor4
count  99840.000000  99840.000000  99840.000000  99840.000000
mean       0.006417     -0.004324      0.015985      0.009514
std        8.101257      4.610642      4.490550      5.153772
min      -50.800000    -28.500000    -27.000000    -31.300000
25%       -4.620000     -2.630000     -2.560000     -2.870000
50%       -0.254000      0.093900      0.085200      0.217500
75%        4.460000      2.750000      2.680000      3.040000
max       52.700000     28.400000     25.100000     33.400000

In [17]:
#checking null values
healthy_dataset.isnull().sum()

Sensor1    0
Sensor2    0
Sensor3    0
Sensor4    0
dtype: int64

In [ ]:
# features extractor for columns
def get_column_features(df):

  df_features = pd.DataFrame()
  col_list = ['Col','Max','Min','q_0.25','q_50','q_0.75']

  for column in healthy_dataset()